[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "src/ThirdParty/ImGui/source"]
	path = src/ThirdParty/ImGui/source
	url = https://github.com/ocornut/imgui
